.weekList {
  list-style-type: none;
  padding: 0;
  margin: 10px 35px;
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

li.active {
  background: #fff;
  color: #222831;
  border-radius: 10px;
}
