@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

.clear {
  clear: both;
}

.container {
  border-radius: 25px;
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: #ffffff;
  height: 400px;
}

.weatherSide {
  position: relative;
  height: 100%;
  border-radius: 25px;
  background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  width: 300px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  transition: transform 300ms ease;
  transform: translateZ(0) scale(1.02) perspective(1000px);
  float: left;
}

.weatherSide:hover {
  transform: scale(1.1) perspective(1500px) rotateY(10deg);
}


.infoSide {
  position: relative;
  float: left;
  height: 100%;
  padding-top: 25px;
}

.locationContainer {
  padding: 25px 35px;
}

.locationButton {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  background-image: var(--gradient);
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 200ms ease;
}

.locationButton:hover {
  transform: scale(0.95);
}

.locationButton .feather {
  height: 1em;
  width: auto;
  margin-right: 5px;
}
