@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

.clear {
  clear: both;
}

.container {
  border-radius: 25px;
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: #ffffff;
  height: 400px;
}

.weatherSide {
  position: relative;
  height: 100%;
  border-radius: 25px;
  background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  width: 300px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  transition: transform 300ms ease;
  transform: translateZ(0) scale(1.02) perspective(1000px);
  float: left;
}

.weatherSide:hover {
  transform: scale(1.1) perspective(1500px) rotateY(10deg);
}


.infoSide {
  position: relative;
  float: left;
  height: 100%;
  padding-top: 25px;
}
